body{
    background-color: rgb(17, 17, 17);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 12vh;
    line-height: 0.9;
    color: white;
}

div.placeholder-container{
    position:relative;

    width: 50%;
    margin-top: 40vh;
    margin-left: 80px;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

form.form-test {

    position: absolute;

    background-color: rgb(20, 20, 20);
    width: 300px;
    
    right: 100px; 
    bottom: 50px;
    padding: 50px; 
    border-radius: 30px 30px 30px 30px;
}

form.form-test > div{
    width: 100%;
    display: inline-block;
}

div.form-row {    
    display: flexbox;
    justify-content: space-between;

}

div.form-row > p {
    color: white;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    
}

input {
    border: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        bottom:-50px;
        opacity: 0;
    }

    1% {
        display: block;
        bottom:-50px;
        opacity: 0;
    }

    100% {
        display: block;
        bottom:0;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        bottom:-50px;
        opacity: 0;
    }

    1% {
        display: block;
        bottom:-50px;
        opacity: 0;
    }

    100% {
        display: block;
        bottom:0;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        bottom:-50px;
        opacity: 0;
    }

    1% {
        display: block;
        bottom:-50px;
        opacity: 0;
    }

    100% {
        display: block;
        bottom: 0;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        bottom:-50px;
        opacity: 0;
    }

    1% {
        display: block;
        bottom:-50px;
        opacity: 0;
    }

    100% {
        display: block;
        bottom:0;
        opacity: 1;
    }
}
